 <h1>LIST</h1>
  
   <h2>제목:</h2>
     <%= @title1 %>
   <h2>이메일:</h2>
     <%= @email1 %>
   <h2>글내용:</h2>
     <% @content2 %>
   
<br>
<button id="my-button"><a href ="/">메인으로 가기</a></button>

</div>

